html, body {
  height: 100%;
  width: 100%;
}

.table { 
	table-layout: fixed;
	overflow: hidden;
	width: 60%; 
	border-spacing: 5px 5px;
}

.table th {
	text-align: left; 
	border-bottom: 1px solid #0f0f0f;
}

h2 {
	margin-top: 2em;
	margin-bottom: 0.5em;
	color: green;
}