html, body {
  height: 100%;
  width: 100%;
}

.table { width: 75%; }

.table th {
	text-align: left; 
	border-bottom: 1px solid #0f0f0f;
}

.table td {
  text-align: left; 
  margin-top: 0.5em;
}

h2 {
	margin-top: 2em;
	margin-bottom: 0.5em;
}